[submodule "modules/express"]
    path = modules/express
	url = https://github.com/visionmedia/express.git
[submodule "modules/mongoose"]
	path = modules/mongoose
	url = https://github.com/LearnBoost/mongoose.git
[submodule "modules/connect-mongodb"]
	path = modules/connect-mongodb
	url = https://github.com/masylum/connect-mongodb.git
[submodule "modules/connect"]
	path = modules/connect
	url = https://github.com/senchalabs/connect.git
[submodule "modules/qs"]
	path = modules/qs
	url = git://github.com/visionmedia/node-querystring.git
[submodule "modules/mime"]
	path = modules/mime
	url = https://github.com/bentomas/node-mime.git
[submodule "modules/jade"]
	path = modules/jade
	url = git://github.com/visionmedia/jade.git
[submodule "modules/expresso"]
	path = modules/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "modules/should"]
	path = modules/should
	url = git://github.com/visionmedia/should.js.git
[submodule "modules/connect-form"]
	path = modules/connect-form
	url = git://github.com/visionmedia/connect-form.git
[submodule "modules/stylus"]
	path = modules/stylus
	url = https://github.com/LearnBoost/stylus.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/christkv/node-mongodb-native.git