form#contacts
  input(type='hidden', name='_method', value='put')
  label(for='contact[email]') Email:
  input(type='text', name='contact[email]')
  br
  label(for='contact[name]') Name:
  textarea(name='contact[name]')
  br
  label(for='contact[message]') Message:
  textarea(name='contact[message]')
  br
  input(type='submit', value='Send')

    