#contacts
  .left
    h1 Contact Me
    form#contacts(action='/contacts', method='post')
      input(type='hidden', name='_method', value='post')
      label(for='contact[email]') Email:
      input(type='text', name='contact[email]')
      br
      label(for='contact[name]') Name:
      input(type='text',name='contact[name]')
      br
      label(for='contact[message]') Message:
      textarea(name='contact[message]')
      br
      div
        input(type='submit', value='Send')
  .right
    h1 Why should you hire me?
    p I'm a person with strong motivation to do my best. Time for me is the most precious thing! 
    p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
  .clearer