#top
  #projects
    h1 Projects
    #demos.horinaja
      ul
        li 
          .project
            center
              a(href='http://www.sumbur.ru/')
                img(src='/images/projects/sumbur.png')
            .text
              | This is shop website based on Rails
        li
          .project
            center
              a(href='http://wakamatsu.nosimoe.locum.ru')
                img(src='/images/projects/wakamatsu.png')
            .text
        li
          .project
            .text
        li
          .project
            .text
  #aboutme
    h1 About Me
    #description
      | I am System Developer 
      a.contact from
      | Belarus
  .clearer
