#top
  #projects
    h1 Projects
    #demos.horinaja
      ul
        li 
          .project
            center
              a(href='http://sumbur.ru/')
                img(src='/images/projects/sumbur.png')
            .text
              | This is shop website based on Rails
        li
          .project
            center
              a(href='http://wakamatsu.ru/')
                img(src='/images/projects/wakamatsu.png')
            .text
        li
          .project
            center
              a(href='https://chrome.google.com/webstore/detail/eeehcmbhicglclggakomjhhlmemhjbde')
                img(src='/images/projects/tetris.png')
            .text
        li
          .project
            center
              a(href='http://dreamydays.ru/')
                img(src='/images/projects/dreamydays.png')
            .text
  #aboutme
    h1 About Me
    #description
      p Hello. My name is 
        a(href='/contacts').contact.contact_button Alexander Korsak
        |. I'm a professional web/system developer with knowledge in Rails, ASP .NET, Microsoft Office SharePoint Server, Javascript, NodeJS and others technologies.
      p I like to design friendly user interfaces and work hard to achieve the best results.
      p Today I am interested in html5/css3/js/mobile technologies.
      a(href='/contacts').contact.contact_button contact me
  .clearer
#bottom
  #twitter
    h1 Twitter
    img(class='loading', src='/images/loading.gif')
  #tumblr
    h1 Blog
    img(class='loading', src='/images/loading.gif')
.clearer
