#top
  #projects
    h1 Projects
    #demos.horinaja
      ul
        li 
          .project
            img(src='/images/download.png')
            .text
        li
          .project
            img(src='/images/download.png')
            .text
        li
          .project
            img(src='/images/download.png')
            .text
        li
          .project
            img(src='/images/download.png')
            .text
  #aboutme
    h1 About Me
    #description
      | I am System Developer 
      a.contact from
      | Belarus
  .clearer
