!!!
html
  head
    meta(name="keywords",content="software developer nodejs rails javascript css sass freelancer")
    meta(name="description",content="Portfolio")
    meta(name="author",content="Alexander Korsak")
    title Alexander Korsak Home Site
    != helper.style('styles')
    != helper.style('horinaja')
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9119091-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #page
      #page_inner
        #menu
          ul
            li.l1
              a(href='/') Home
            li.l2
              a(href='http://oivoodoo.tumblr.com/') Blog
            li.l3
              a(href='/projects') Projects
            li.l4
              a(href='/contacts') Contacts

          #gittip
            != "<iframe style='border: 0; margin: 0; padding: 0;' src='https://www.gittip.com/oivoodoo/widget.html' width='48pt' height='20pt'></iframe>"

          #plus
            != "<g:plusone></g:plusone>"

            script(type="text/javascript")
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
        .clearer
        #container
          != body
        #footer
          ul#icons
            li#rss
              a(href='http://oivoodoo.tumblr.com/rss', title='Subscribe to my RSS-feed')
                strong RSS
            li#followme
              a(href='http://twitter.com/oivoodoo', title='Follow me on twitter')
                strong Twitter
            li#facebook
              a(href='http://www.facebook.com/alexander.korsak', title='Show my facebook page')
                strong Facebook
            li#email
              a(href='mailto:alex.korsak@gmail.com', title='Contacts me')
                strong Email

  != helper.scripts(assets)

