!!!
html
  head
    title= 'High Scores'
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    #page
      #page_inner
        #container.shadow
          != body
    script(type='text/javascript', src='/scripts/application.js')
