#projects_list
  h1 Projects
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer