#projects_list
  h1 Projects
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      This is shop website with my own content management system with the name voodoo
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      This is shop website with my own content management system with the name voodoo
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='project title')
    .text
      h2 Sumbur.ru
      This is shop website with my own content management system with the name voodoo
    .clearer