#projects_list
  h1 Projects
  .project.box
    img(src='/images/projects/dreamydays.png', alt='dreamydays')
    .text
      h2 dreamydays.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='sumbur')
    .text
      h2 Sumbur.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/wakamatsu.png', alt='wakamatsu')
    .text
      h2 wakamatsu.ru
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/tetris.png', alt='tetris')
    .text
      h2 html5 tetris
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/promist.png', alt='promist')
    .text
      h2 promist.ru
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer