#projects_list
  h1 Projects
  .project.box
    img(src='/images/projects/dreamydays.png', alt='dreamydays.ru')
    .text
      h2 
        a(href='http://dreamydays.ru/', title='dreamydays.ru', target='_blank') dreamydays.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/sumbur.png', alt='sumbur.ru')
    .text
      h2 
        a(href='http://sumbur.ru/', title='sumbur.ru', target='_blank') Sumbur.ru
      p That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/wakamatsu.png', alt='wakamatsu.ru')
    .text
      h2 
        a(href='http://wakamatsu.ru/', title='wakamatsu.ru', target='_blank') wakamatsu.ru
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/tetris.png', alt='tetris')
    .text
      h2 
        a(href='https://chrome.google.com/webstore/detail/eeehcmbhicglclggakomjhhlmemhjbde', title='tetris', target='_blank') html5 tetris
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer
  .project.box
    img(src='/images/projects/promist.png', alt='promist')
    .text
      h2 
        a(href='http://promist.ru/', title='promist.ru', target='_blank') promist.ru
      p  I'm a person with strong motivation to do my best. Time for me is the most precious thing! That's why I'm designing the architecture of the application, writing tests and only then start to develop using best practices of test driven development(TDD) and behaviour drive development(BDD).
    .clearer