#projects_list
  h1 Projects
  .project.box
    a(href='http://dreamydays.ru/', title='dreamydays.ru', target='_blank')
      img(src='/images/projects/dreamydays.png', alt='dreamydays.ru')
    .text
      h2 
        a(href='http://dreamydays.ru/', title='dreamydays.ru', target='_blank') dreamydays.ru
      p Website DreamyDays represents catalog of villas. Here you can either buy or rent magnificent house with unforgettable view on the ocean. With the help of the website you can find a suitable villa in the most picteresque place in the world - Kingdom of Thailand.
    .clearer
  .project.box
    a(href='http://sumbur.ru/', title='sumbur.ru', target='_blank')
      img(src='/images/projects/sumbur.png', alt='sumbur.ru')
    .text
      h2 
        a(href='http://sumbur.ru/', title='sumbur.ru', target='_blank') Sumbur.ru
      p Sumbur is online webstore with a great choice of backpacks, youth and business bags, travel bags, suitcases and accessories.
    .clearer
  .project.box
    a(href='http://wakamatsu.ru/', title='wakamatsu.ru', target='_blank')
      img(src='/images/projects/wakamatsu.png', alt='wakamatsu.ru')
    .text
      h2 
        a(href='http://wakamatsu.ru/', title='wakamatsu.ru', target='_blank') wakamatsu.ru
    .clearer
  .project.box
    a(href='https://chrome.google.com/webstore/detail/eeehcmbhicglclggakomjhhlmemhjbde', title='tetris', target='_blank')
      img(src='/images/projects/tetris.png', alt='tetris')
    .text
      h2 
        a(href='https://chrome.google.com/webstore/detail/eeehcmbhicglclggakomjhhlmemhjbde', title='tetris', target='_blank') html5 tetris
    .clearer
  .project.box
    a(href='http://promist.ru/', title='promist.ru', target='_blank')
      img(src='/images/projects/promist.png', alt='promist')
    .text
      h2 
        a(href='http://promist.ru/', title='promist.ru', target='_blank') promist.ru
    .clearer