@font-face{font-family:"OrbitronMed";src:url("/fonts/orbitron-medium.eot");src:local("☺"),url("/fonts/orbitron-medium.otf") format("opentype")}
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,font,img,ul,li{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:trasparent}
body{font:12px Georgia,Verdana,Lucida Sans Unicode,sans-serif;line-height:1px;color:#999;background:url("/images/background.jpg") repeat;}
body h1{font-size:50px}
body p{margin:15px 0}
.clearer{clear:both}
#page{margin:0 auto;padding:20px}
#page_inner{margin:0 auto;width:820px;}
#page_inner #menu{width:400px;position:relative;top:15px;left:20px;z-index:80;}
#page_inner #menu li{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);width:50px;overflow:hidden;margin:10px 0;padding:5px 5px 5px 18px;float:left;text-align:right;}
#page_inner #menu li a{color:#fff;text-decoration:none;display:block;padding:5px}
#page_inner #menu li.l1{background:rgba(131,178,51,0.65)}
#page_inner #menu li.l2{background:rgba(196,89,30,0.65)}
#page_inner #menu li.l3{background:rgba(65,117,160,0.65)}
#page_inner #menu li.l4{background:rgba(115,62,78,0.65)}
#page_inner #container{z-index:1000;margin-top:15px;padding:20px;min-height:320px;height:450px;background:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.296875);-moz-box-shadow:0 0 8px rgba(0,0,0,0.296875);box-shadow:0 0 8px rgba(0,0,0,0.296875);position:relative;}
#page_inner #container a.contact{padding:0 .4em;background:rgba(255,97,0,0.3);font-weight:bold;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}
#page_inner #container a.contact:hover{background-color:#ff6100;cursor:pointer;color:#fff}
#page_inner #container #top{margin-top:10px}
#page_inner #container h1{text-shadow:rgba(0,0,0,0.597656) 1px 1px;font-size:20px;font-family:OrbitronMed,"Courier New",monospace;text-transform:uppercase;letter-spacing:1px}
#page_inner #container #projects{width:400px;float:left;margin-right:20px;}
#page_inner #container #projects #demos{display:block;width:400px;height:230px;margin:20px 0 0 0;background:rgba(0,0,0,0.05);-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.296875);-moz-box-shadow:0 0 8px rgba(0,0,0,0.296875);box-shadow:0 0 8px rgba(0,0,0,0.296875);}
#page_inner #container #projects #demos img{margin:20px 0 0 0}
#page_inner #container #aboutme #description{margin:20px 0 0 0;width:300px;float:left}
