.post
  h3= post.title

  p.datetime.created Created at #{helper.formatDate(post.createdAt)}
  - if (post.updatedAt)
    p.datetime.updated Updated at #{helper.formatDate(post.updatedAt)}

  pre.content!= post.content
