- admin_menu.set('Posts')

!= helper.script('highlight.pack')
!= helper.style('default')
script(type='text/javascript')
  | hljs.initHighlightingOnLoad();

#box
  != partial('post', [post])
  a(href="/admin/posts/") Back
