.post
  h2
    = post.title
    a.edit(href='/posts/' + post.id + '/edit') Edit

  != messages()
  // dates
  p.date.created Created at #{helper.formatDate(post.createdAt)}
  - if (post.updatedAt)
    p.date.updated Updated at #{helper.formatDate(post.updatedAt)}

  // content
  pre.content= post.content
