border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

control-rotate()
  -webkit-transform rotate(arguments)
  -moz-transform rotate(arguments)

transition()
  -webkit-transition arguments
  -moz-transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments

@font-face
  font-family "OrbitronMed"
  src url('/fonts/orbitron-medium.eot');
  src local('☺'), url("/fonts/orbitron-medium.otf") format("opentype");

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, font, img, ul, li
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background trasparent
  line-height 1.4

html
  background url(/images/line_texture.png)

body
  font 12px Georgia, Verdana, Lucida Sans Unicode, sans-serif
  color #6F6F6F
  background: url(/images/transparent_gradient.png) repeat-x;
  h1
    font-size 50px
  p
    margin 15px 0
  a
    color #0A7BC1
    font-weight normal
    text-decoration none

.clearer
  clear both

#page
  margin 0 auto
  padding 20px

#page_inner
  margin 0 auto
  width 820px

#menu
  width 450px
  position relative
  top 15px
  z-index 80
  li
    border-radius 5px
    border-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    width 60px
    overflow hidden
    margin 10px 10px 10px 0px
    padding 5px
    float left
    text-align center
    transition all .2s ease-in-out
    &:hover
      transform scale(1.1)
    a
      color white
      text-decoration none
      display block
      padding 5px 0px
      width 100%
  li.l1
    background rgba(131, 178, 51, 0.65)
  li.l2
    background rgba(196, 89, 30, 0.65)
  li.l3
    background rgba(65, 117, 160, 0.65)
  li.l4
    background rgba(115, 62, 78, 0.65)
#container
  background #f2f2eb url(/images/textured_background.jpg)
  z-index 1000
  margin-top 15px
  padding 20px
  min-height 400px
  border-radius 5px
  border-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
  position relative
  a.contact
    color #195D87
    &:hover
      background-color rgba(255, 97, 0, 1)
      cursor pointer
      color white
    padding 0 0.4em
    background rgba(255, 97, 0, .3)
    font-weight bold
    border-radius 1em
  h1
    text-shadow rgba(6, 6, 6, 0.597656) 1px 1px
    font-size 20px
    font-family OrbitronMed, 'Courier New', monospace;
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 15px
  #projects
    width 400px
    float left
    margin-right 20px
    #demos
      display block
      width 400px
      height 230px
      background rgba(0, 0, 0, 0.05)
      border-radius 10px
      border-shadow 0px 0px 8px rgba(0, 0, 0, 0.296875)
      img
        margin 20px 0 0 0
      .text
        padding 10px
      li
        height 190px
  #aboutme
    #description
      width 360px
      float left
      p:first-child
        margin-top 0px
  #twitter
    margin 15px 0 0 0px
    width 400px
    float left
    margin-right 20px
  #tumblr
    margin 15px 0 0 0px
    width 360px
    float left
  .tweet, .post
    margin-bottom 10px
    background white
    border 1px solid #F2F2F2
    padding 10px
    float left
    border-radius 5px
    line-height 1.4em
    font-family Georgia, "Times New Roman", Times, serif
    font-style italic
  .post 
    width 340px
    .tags
      margin 0px
      margin-top 5px
      a
        margin 2px
    .contact
      float left
#footer
  #icons
    display block
    width 32px
    height 32px
    margin 0px
    background transparent url(/images/social.png)
    li a
      margin 0
      padding 0
      float left
      list-style-type none
      a:hover, a:active, a:focus
        outline 0
  #rss a
    background-position -7px -71px
  #facebook a
    background-position -40px -71px
  #twitter a
    background-position -73px -71px
  #email a
    background-position -106px -71px
