border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

control-rotate()
  -webkit-transform rotate(arguments)
  -moz-transform rotate(arguments)

transition()
  -webkit-transition arguments
  -moz-transition arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments

@font-face
  font-family "OrbitronMed"
  src url('/fonts/orbitron-medium.eot');
  src local('☺'), url("/fonts/orbitron-medium.otf") format("opentype");

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, font, img, ul, li
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background trasparent
  line-height 1.4

html
  background url(http://www.matthamm.com/images/linen_texture.png)

body
  font 12px Georgia, Verdana, Lucida Sans Unicode, sans-serif
  color #999
  background: url(http://www.matthamm.com/images/transparent_gradient.png) repeat-x;
  h1
    font-size 50px
  p
    margin 15px 0
  a
    color #0A7BC1
    font-weight normal
    text-decoration none

.clearer
  clear both

#page
  margin 0 auto
  padding 20px
  
#page_inner
  margin 0 auto
  width 820px
  #menu
    width 450px
    position relative
    top 15px
    z-index 80
    li
      border-radius 5px
      border-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
      width 60px
      overflow hidden
      margin 10px 10px 10px 0px
      padding 5px
      float left
      text-align center
      transition all .2s ease-in-out
      &:hover
        transform scale(1.1)
      a
        color white
        text-decoration none
        display block
        padding 5px 0px
        width 100%
    li.l1
      background rgba(131, 178, 51, 0.65)
    li.l2
      background rgba(196, 89, 30, 0.65)
    li.l3
      background rgba(65, 117, 160, 0.65)
    li.l4
      background rgba(115, 62, 78, 0.65)
  #container
    background #f2f2eb url(http://www.matthamm.com/images/textured_background.jpg)
    z-index 1000
    margin-top 15px
    padding 20px
    min-height 400px
    border-radius 5px
    border-shadow 0px 0px 10px rgba(0, 0, 0, 0.5)
    position relative
    a.contact
      color #195D87
      &:hover
        background-color rgba(255, 97, 0, 1)
        cursor pointer
        color white
      padding 0 0.4em
      background rgba(255, 97, 0, .3)
      font-weight bold
      border-radius 1em
    h1
      text-shadow rgba(6, 6, 6, 0.597656) 1px 1px
      font-size 20px
      font-family OrbitronMed, 'Courier New', monospace;
      text-transform uppercase
      letter-spacing 1px
      margin-bottom 15px
    #projects
      width 400px
      float left
      margin-right 20px
      #demos
        display block
        width 400px
        height 230px
        background rgba(0, 0, 0, 0.05)
        border-radius 10px
        border-shadow 0px 0px 8px rgba(0, 0, 0, 0.296875)
        img
          margin 20px 0 0 0
        .text
          padding 10px
        li
          height 190px
    #aboutme
      #description
        width 300px
        float left
    #twitter
      margin 15px 0 0 0px
      width 400px
      float left
      margin-right 20px
    #tumblr
      margin 15px 0 0 0px
      width 300px
      float left
    .tweet, .post
      margin-bottom 10px
    .post .tags
      padding 0px
      margin 0px
      margin-top 5px