border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

control-rotate()
  -webkit-transform rotate(arguments)
  -moz-transform rotate(arguments)

@font-face
  font-family "OrbitronMed"
  src url('/fonts/orbitron-medium.eot');
  src local('☺'), url("/fonts/orbitron-medium.otf") format("opentype");

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, font, img, ul, li
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background trasparent

body
  font 12px Georgia, Verdana, Lucida Sans Unicode, sans-serif
  line-height 1px
  color #999
  background url(http://mattobee.com/images/back.gif) repeat
  h1
    font-size 50px
  p
    margin 15px 0

.clearer
  clear both

#page
  margin 0 auto
  padding 20px

#page_inner
  margin 0 auto
  width 820px
  #menu
    width 400px
    position relative
    top 15px
    left 20px
    z-index 80
    li
      control-rotate -45deg
      width 50px
      overflow hidden
      margin 10px 0px
      padding 5px 5px 5px 18px
      float left
      text-align right
      a
        color white
        text-decoration none
        display block
        padding 5px
    li.l1
      background rgba(131, 178, 51, 0.65)
    li.l2
      background rgba(196, 89, 30, 0.65)
    li.l3
      background rgba(65, 117, 160, 0.65)
    li.l4
      background rgba(115, 62, 78, 0.65)
  #container
    z-index 1000
    margin-top 15px
    padding 20px
    min-height 320px
    height 450px
    background white
    border-radius 10px
    border-shadow 0px 0px 8px rgba(0, 0, 0, 0.296875)
    position relative
    a.contact
      &:hover
        background-color rgba(255, 97, 0, 1)
        cursor pointer
        color white
      padding 0 0.4em
      background rgba(255, 97, 0, .3)
      font-weight bold
      border-radius 1em
    #top
      margin-top 10px
    h1
      text-shadow rgba(0, 0, 0, 0.597656) 1px 1px
      font-size 20px
      font-family OrbitronMed, 'Courier New', monospace;
      text-transform uppercase
      letter-spacing 1px
    #projects
      width 400px
      float left
      margin-right 20px
      #demos
        display block
        width 400px
        height 230px
        margin 20px 0 0 0px
        background rgba(0, 0, 0, 0.05)
        border-radius 10px
        border-shadow 0px 0px 8px rgba(0, 0, 0, 0.296875)
        img
          margin 20px 0 0 0
        .text
          padding 10px
        li
          height 190px
    #aboutme
      #description
        margin 20px 0 0 0px
        width 300px
        float left
